<div class="body">
    <mat-card>
        <p class="title">Agenda</p>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>Login</mat-label>
                <input matInput placeholder="Ex. Usuario123">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Senha</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput placeholder="Ex. Senha123" [(ngModel)]="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
        </form>
        <section>
            <div class="example-button-row">
                <button mat-raised-button color="primary">Login</button>
            </div>
        </section>
    </mat-card>
</div>